<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/dragslot.css')}} ">


    {% block head %}{% endblock %}

</head>

<body id="body">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav title_li" id="title_1">
                    <li class="saveLi" onclick="saveData()"><a>保存</a></li>
                    <li class="" onclick="InsertPlan()"><a>预排</a></li>
                    <li class="" onclick="DeletePlan()"><a>取消预排</a></li>
                    <li onclick="clearCheck()"><a>清空选中</a></li>
                    <li onclick="InsertXG()" id="XG_li"><a>插入洗缸</a></li>
                    <li id="A"><a onclick="btnEquiModel('A')">A群组</a></li>
                    <li id="B"><a onclick="btnEquiModel('B')">B群组</a></li>
                    <li id="C"><a onclick="btnEquiModel('C')">C群组</a></li>
                    <li id="D"><a onclick="btnEquiModel('D')">D群组</a></li>
                    <li id="E"><a onclick="btnEquiModel('E')">E群组</a></li>
                    <!-- <li id="E"><a onclick="showORhidden('showSearch', 'Search')" id="showSearch">显示搜索</a></li> -->
                    <li id="btnExport"><a onclick="btnReadyData()">准备导出</a></li>
                    <li><a onclick="showORhidden('showsRemark', 'sRemark')" id="showsRemark">显示备注</a></li>
                    <li style="width: 20%">
                        <div class="nav navbar-nav" id="title_4">
                            <div class="nav navbar-nav float_left" id="title_5">
                                <div class="navbar-form navbar-left">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-var" id="searchValue"
                                            placeholder="生产卡号">
                                    </div>
                                    <button class="btn btn-default" onclick="IsSearch()">搜索</button>
                                    <button class="btn btn-default" onclick="ClearSearch()">清空</button>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                <ul class="nav navbar-nav equ_li" id="title_2">

                </ul>
                <ul class="nav navbar-nav" id="title_3">

                </ul>
            </div>
            <div style="font-size: 16px;" class="panel-footer hidden" id="sRemark">
                <span style="background-color:#FF0000;">当前工段<改染,進缸还原洗,染色,缸練></span>
                <span style="background-color:#FF34B3;">下工段<改染,進缸还原洗,染色,缸練></span>
                <span style="background-color:#FFAEB9;">下下工段<改染,進缸还原洗,染色,缸練></span> <br>
                <span style="background-color:#EC870E;">当前工段<成品套色,打色,復色,亚博试染,半成品套色></span>
                <span style="background-color:#F5B16D;">下工段<成品套色,打色,復色,亚博试染,半成品套色></span>
                <span style="background-color:#FFE7BA;">下工段<成品套色,打色,復色,亚博试染,半成品套色></span>
            </div>
        </div>
    </nav>
    <div class="main_var" id="main_var">
        {% block main %}{% endblock %}
    </div>
    <nav class="navbar-fixed-bottom bottom_Search">
        <div class="container" id="search_value">
        </div>
    </nav>

    <div class="hidden" id="divExport">

    </div>



    <script src="{{ url_for('static', filename='bootstrap/js/jQuery-2.2.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/xlsx.core.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/basics.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/GetDate.js') }}"></script>

    <script src="{{ url_for('static', filename='PlanDye/js/dragslot.js') }}"></script>
    <script src="{{ url_for('static', filename='PlanDye/js/PMC_addEqui.js') }}"></script>
    {% block js %}{% endblock %}


</body>

</html>