{% extends 'PlanDye/base.html' %}

{% block title %}染色预排_分区{% endblock %}

{% block head %}
<link rel="stylesheet" href=" {{url_for('static',filename='PlanDye/css/PMC_Dye_SplitArea.css')}} ">
{% endblock %}


{% block main %}
<div class="htmleaf-container">
    <section class="">
        <div id="dragslot" class="dragslot">
            {% for Eq in range(6)%}
            <div class="section" id="section_{{Eq}}">
                <ul class="slot-list">
                    <div>
                        <input class="title_var" type="text" readOnly="true" value=待选择>
                        <span class="input-group-addon title_span_var"
                            style="background-color:#FFFF00; width:310px; font-size: 12px;" id="basic-addon1">待选择</span>
                    </div>
                    <div class="Top_Div" id="Top_Div_{{Eq}}">
                        <li class="slot-item XG_li" id="XG_{{Eq}}">
                            <div class="clearfix XG_div">
                                <div>
                                    <div>
                                        <span></span>
                                    </div>
                                    <div>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="Split_Span" id="split_span_{{Eq}}" onmousedown="mouseDownMove('split_span_{{Eq}}')">
                    </div>
                    <div class="Bottom_Area">

                    </div>
                </ul>
            </div>
            {% endfor %}

        </div>
    </section>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="/static/PlanDye/js/PMC_Dye_SplitArea.js"></script>
<script type="text/javascript" src="/static/PlanDye/js/PlanDye_Search.js"></script>



<script>
    // ClassName
    var _$ = function (id) {
        return document.getElementsByClassName(id);
    }

    // ID
    var $$ = function (id) {
        return document.getElementById(id);
    }

    // Name
    var __$ = function (id) {
        return document.getElementsByName(id);
    }

    // // 尺寸修改
    // var getScreen = function () {
    //     var nWidth = document.body.clientWidth;
    //     var nHeight = document.documentElement.clientHeight;
    //     var content = $$('body');
    //     content.style.width = nWidth + 'px';
    //     content.style.height = nHeight + 150 + 'px';
    // }

    // 修改屏幕尺寸后进行div的更新
    window.onresize = function () {
        addClear();
        addEmpty();
    }


    // 获取时间
    var GetDate = function () {
        var day2 = new Date();
        var sYear = day2.getFullYear();
        var sMonth = day2.getMonth() + 1;
        var sDate = day2.getDate();
        var sHour = day2.getHours();
        var sMin = day2.getMinutes();
        var sSec = day2.getSeconds();
        if ((sMonth.toString().length) == 1) {
            sMonth = '0' + sMonth.toString()
        }
        if ((sDate.toString().length) == 1) {
            sDate = '0' + sDate.toString()
        }
        if ((sHour.toString().length) == 1) {
            sHour = '0' + sHour.toString()
        }
        if ((sMin.toString().length) == 1) {
            sMin = '0' + sMin.toString()
        }
        if ((sSec.toString().length) == 1) {
            sSec = '0' + sSec.toString()
        }
        var dateTime = sYear + "-" + sMonth + "-" + sDate + ' ' + sHour + ':' + sMin + ':' + sSec;
        return dateTime
    }
</script>

<script>
    jQuery(function ($) {
        $('#dragslot').dragslot({
            dropCallback: function (el) {
                //	alert(el);
            }
        });
    });
</script>

<script>
    // 页面初始
    window.onload = function () {
        addClear();
        addEmpty();
        // calWidth();
    }
</script>





{% endblock %}