<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\administrator.yylt\appdata\local\programs\python\python36-32\python.exe|c:\users\administrator.yylt\appdata\local\programs\python\python36-32\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security> 
        <requestFiltering allowDoubleEscaping="true"></requestFiltering> 
    </security> 
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="manage.app" />
    <add key="PYTHONPATH" value="D:\WEBSourceCode" />

    <add key="WSGI_LOG" value="D:\WEBSourceCode\oboeqa_web.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value="" />
  </appSettings>
    <connectionStrings>
        <remove name="198.168.6.236" />
        <add connectionString="Server=DC2;Database=WebDataBase;Integrated Security=true" name="WebDataBase" />
    </connectionStrings>
</configuration>