<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>

    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
</head>

<body>
    <nav class="navbar navbar-default" style="background-color: #fff;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img alt="Brand" src=" {{url_for('static', filename='bootstrap/images/logo.jpg')}}" width="30px;"
                        height="30px;">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">主页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            染整看板<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="  {{ url_for('KanBan.floorPlan') }}  ">工厂平面图</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href=" {{ url_for('KanBan.JSInformation') }} ">技术部看板</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href=" # ">取样看板</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href=" {{ url_for('KanBan.equipmentService') }} ">故障检修看板</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            预排看板<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=" {{ url_for('KanBan.DXKanBan') }} ">定型预排看板</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href=" {{ url_for('KanBan.PlanDyeMain') }} ">染色预排看板</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href=" {{ url_for('KanBan.PlanDyeSale') }} ">染色预排看板-业务</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href=" {{ url_for('KanBan.PlanDyeAllData') }} ">染色预排看板-所有</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            染整预排<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=" {{ url_for('Plan.PMCIndex', sWorkingProcedureName = 'PS' ) }} ">定型预排-生管</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href=" {{ url_for('Plan.DXIndex', sWorkingProcedureName = 'ps' ) }} ">定型预排-预定</a>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li>
                                <a href=" {{ url_for('PlanDye.index' ) }} ">染色预排</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href=" {{ url_for('PlanDye.SplitArea' ) }} ">染色预排-分区</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            数据对比<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=" {{ url_for('CheckData.JSCheckData') }} ">研发数据对比</a>
                            </li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            资料<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">色样资料</a>
                            </li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script> -->

</body>
<script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/jQuery-2.2.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>

</html>