ul li {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul>div {
    margin-left: -40px;
}

.main_var {
    margin-top: -20px;
}

.border-left {
    border-left: 2px solid#CDC9C9;
}

.height40 {
    height: 40px;
}

body {
    font-size: 1.9em;
    font-weight: 600;
}

.ex {
    margin-left: 240px;
    margin-top: -20px;
}


tr>th,
tr>td {
    border-right: 3px solid #CCC;
    text-align: center;
}

tr {
    border-bottom: 3px solid #CCC;
    height: 30px;
}

th,
td {
    white-space: nowrap
}

.table-sum>td {
    color: #F00;
    line-height: 0.5 !important;
}

.table-sum {
    height: 10px;
    font-weight: 600;
    font-size: 1em;
}