<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>预览打印</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap-theme.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='CheckFabric/css/CheckView.css')}} ">

    <style media="print">
        @page {
            /* size: portrait; */
            size: A4 landscape;
            margin: 0mm 10mm 0mm 10mm;
        }
    </style>


    <object id="xprint" style="display:none" classid="clsid:1663ed61-23eb-11d2-b92f-008048fdd814"
        codebase="smsx.cab#version=6,5,439,72"></object>

</head>

<body>
    <div class="margin-left-10">
        <button class="btn btn-default btn-xs" type="submit" onclick="printit(false, true)">打印</button>
        <button class="btn btn-default btn-xs" type="submit" onclick="btnClose()">关闭</button>
    </div>
    <div class="text-center">
        <h3>常州裕源灵泰面料科技有限公司</h3>
        <h5>yuyuang lingtai</h5>
        <h5>四点制成品检查表</h5>
    </div>
    <table class="table table-bordered table-condensed text-center" style="font-size:10px; font-weight: 500">
        <caption>
            {% for i in ViewTitle %}
            <div>
                <div style="float: left;" class="width30p" style="font-size:10px;">
                    <label class="label_var">工程卡号:</label>
                    <label class="label_var">{{i['sCardNo']}}</label>
                </div>
                <div style="float: left;" class="width30p">
                    <label class="label_var">胚布编号:</label>
                    <label class="label_var">{{i['sMaterialNo']}}</label>
                </div>
                <div style="float: left;" class="width30p">
                    <label class="label_var">客户:</label>
                    <label class="label_var">{{i['sCustomerName']}}</label>
                </div>
            </div>
            <div>
                <div style="float: left;" class="width20p">
                    <label class="label_var">客户品名:</label>
                    <label class="label_var">{{i['sMaterialNoProduct']}}</label>
                </div>
                <div style="float: left;" class="width20p">
                    <label class="label_var">颜色:</label>
                    <label class="label_var">{{i['sColorNo']}}</label>
                </div>
                <div style="float: left;" class="width30p">
                    <label class="label_var">客户订单号:</label>
                    <label class="label_var">{{i['sCustomerOrderNo']}}</label>
                </div>
                <div style="float: left;" class="width20p">
                    <label class="label_var">布车号:</label>
                    <label class="label_var">{{i['sCardNo']}}</label>
                </div>
            </div>
            {% endfor %}
        </caption>
        <tr class="text-center">
            <th class="tr100">疋号</th>
            <th class="tr3015">实测 (YD)</th>
            <th class="tr3015">实测(M)</th>
            <th class="tr3030">密度</th>
            <th class="tr3030">幅宽</th>
            <th class="tr40">左克重</th>
            <th class="tr40">中克重</th>
            <th class="tr40">右克重</th>
            <th class="tr3030">1点</th>
            <th class="tr3030">2点</th>
            <th class="tr3030">3点</th>
            <th class="tr3030">4点</th>
            <th class="tr3040">总扣分</th>
            <th class="tr3015">允许点数</th>
            <th class="tr100">主要疵因</th>
            <th class="tr3030">等级</th>
            <th class="tr200">备注</th>
            <th class="tr100">疵点</th>
            <th class="tr3030">位置</th>
            <th class="tr3030">扣分</th>
        </tr>

        {% for i in ViewFabric %}
        <tr name="{{i['nCount']}}">
            <td name="DTL" class="tr100">{{i['sFabricNo']}}</td>
            <td name="DTL" class="tr3015">{{i['nLengthYard']}}</td>
            <td name="DTL" class="tr3015">{{i['nLengthMeter']}}</td>
            <td name="DTL" class="tr3030">{{i['nDensity']}}</td>
            <td name="DTL" class="tr3030">{{i['nWidth']}}</td>
            <td name="DTL" class="tr40">{{i['nGMWTLeft']}}</td>
            <td name="DTL" class="tr40">{{i['nGMWTInner']}}</td>
            <td name="DTL" class="tr40">{{i['nGMWTRight']}}</td>
            <td name="DTL" class="tr3030">{{i['One']}}</td>
            <td name="DTL" class="tr3030">{{i['Two']}}</td>
            <td name="DTL" class="tr3030">{{i['three']}}</td>
            <td name="DTL" class="tr3030">{{i['Four']}}</td>
            <td name="DTL" class="tr3030">{{i['SUMScore']}}</td>
            <td name="DTL" class="tr3030">{{i['nMaxScore']}}</td>
            <td name="DTL" class="tr100">{{i['sMainDefectName']}}</td>
            <td name="DTL" class="tr3030">{{i['sGrade']}}</td>
            <td name="DTL" class="tr200">{{i['sRemark']}}</td>
            <td style="line-height: 30px;" class="tr100">{{i['sDefectTypeName']}}</td>
            <td style="line-height: 30px;" class="tr3030">{{i['nSite']}}</td>
            <td style="line-height: 30px;" class="tr3030">{{i['nScore']}}</td>
        </tr>
        {% for a in ViewOtherDefect %}
        {% if a['sFabricNo'] == i['sFabricNo'] %}
        <tr>
            <td style="line-height: 30px;" class="tr100">{{a['sDefectTypeName']}}</td>
            <td style="line-height: 30px;" class="tr3030">{{a['nSite']}}</td>
            <td style="line-height: 30px;" class="tr3030">{{a['nScore']}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </table>
</body>



<script>
    // ClassName
    var _$ = function (id) {
        return document.getElementsByClassName(id);
    }

    // ID
    var $$ = function (id) {
        return document.getElementById(id);
    }

    // Name
    var __$ = function (id) {
        return document.getElementsByName(id);
    }
</script>


<script>
    var dtlLineHeight = function () {
        var sDtl = __$('DTL');
        var nRow = 0
        var nVar = 0
        for (var i = 0; i < sDtl.length; i += 17) {
            var rowspanValue = sDtl[i].parentNode.attributes.name.nodeValue;
            nRow += 1;
            console.log(nRow);
            console.log(nVar * nRow);
            console.log(rowspanValue);
            for (var a = nVar; a < 17 * nRow; a++) {
                nVar = a + 1;
                sDtl[a].rowSpan = rowspanValue;
                sDtl[a].style.lineHeight = 30 * rowspanValue + 'px';
            }
        }
    }

    var btnClose = function () {
        window.close();
    }

    window.onload = function () {
        dtlLineHeight();
    }
</script>

<script language="javascript">
    //isZong:是否纵向打印   isSelectPrinter:是否选择打印机,false直接使用默认打印机打印  
    function printit(isZong, isSelectPrinter) {
        try {
            xprint.printing.portrait = isZong; //true为纵向,false为横向  
            xprint.printing.footer = ""; //页脚  
            xprint.printing.header = ""; //页眉  
            xprint.printing.leftMargin = 0.5; //左  
            xprint.printing.topMargin = 0.5; //上  
            xprint.printing.rightMargin = 0.5; //右  
            xprint.printing.bottomMargin = 0.5; //下  

            // xprint.printing.PageSetup(); //弹出打印设置窗口   
            xprint.printing.Preview(); //弹出打印预览窗口   

            xprint.printing.Print(isSelectPrinter); //是否弹出打印机选择页面  
        } catch (e) {
            // alert('没有设置默认打印机件');
        }
    }
</script>


</html>