<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>半成品验布</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href=" {{url_for('static',filename='CheckFabric/css/CheckFabric.css')}} " />

    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
    <!-- <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.min.css')}} "> -->

    <style>
        .btn-defectType {
            padding: 10px;
            margin: 10px;
        }
    </style>

</head>

<body id="body">
    <div class="container-fluid">
        <div class="top-div border-bottom">
            <ul>
                <li> <button type="button" class="btn btn-default">验布</button> </li>
                <li> <button type="button" class="btn btn-default">编辑</button> </li>
                <li> <button type="button" class="btn btn-default">取消</button> </li>
                <li> <button type="button" class="btn btn-default" onclick="SaveHdr()">保存</button> </li>
                <li> <button type="button" class="btn btn-default" onclick="CheckView()">预览</button> </li>
                <li> <button type="button" class="btn btn-default">关闭</button> </li>
                <li> <button type="button" class="btn btn-default" onclick="Finishclick()">完工</button> </li>
            </ul>
        </div>
        <div class="left float-left">
            <!-- 1 -->
            <div class="left-top border-bottom ">
                <!-- 1-1 -->
                <div class="left-top-top">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">姓名</span>
                                <form>
                                    <select name="cars" class="form-control" id="sUserName">
                                        {% for i in sUserName %}
                                        <option value="{{i['sUserName']}}">{{i['sUserName']}}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">班别</span>
                                <div id="sGroup">
                                    <input type="text" class="form-control" id="Group">
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="GetGroupPage()">查询</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">机台</span>
                                <div id="sEquipment">
                                    <input type="text" class="form-control" id="sEquipment">
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                        onclick="GetEquipmentPage()">查询</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon">卡号</span>
                                <input type="text" class="form-control" id="sCardNo" onkeypress="CheckInfo()">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="searchCardNo()">查询</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">布车</span>
                                <div id="sLocation" name="detail">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 1-1 -->
                <!-- 1-2 -->
                <div class="left-top-bottom margin-buttom-5">
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">订单号</span>
                                <div id="sOrderNo" name="detail">
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">胚布编号</span>
                                <div id="sMaterialNo" name="detail">
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">胚布条码</span>
                                <div id="sFabricNo1">
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">客户名</span>
                                <div id="sCustomerName" name="detail">
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">色号</span>
                                <div id="sColorNo" name="detail">
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">胚布幅宽</span>
                                <div id="sProductWidth" name="detail">
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div hidden>
                            <div id="uppTrackJobGUID" name="detail">
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div id="usdOrderLotGUID" name="detail">
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div id="ummMaterialGUID" name="detail">
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div id="utmColorGUID" name="detail">
                                <input type="text" class="form-control" readonly>
                            </div>
                            <div id="upsWorkFlowCardGUID" name="detail">
                                <input type="text" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 1-2 -->
            </div>
            <!-- 1 -->
            <!-- 2 -->
            <div class="left-inner border-bottom">
                <div class="row" style="margin-top:5px;">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">胚布</span>
                            <div id="sFabricNo2" name="sFabricNo">
                                <input type="text" class="form-control">
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="GetFabricPage()">查询</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">码长</span>
                            <div id="nLength">
                                <input type="text" class="form-control" onblur="tableUpdata('nLength')">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">等级</span>
                            <div id="sGrade">
                                <input type="text" class="form-control" onblur="tableUpdata('sGrade')">
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="GetGradePage()">查询</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">幅宽</span>
                            <div id="nWidth">
                                <input type="text" class="form-control" onblur="tableUpdata('nWidth')">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">主疵点</span>
                            <div id="sDefect">
                                <input type="text" class="form-control" onblur="tableUpdata('sDefect')">
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="GetDefectPage()">查询</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">密度</span>
                            <div id="nDensity">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">左克重</span>
                            <div id="nGMWTLeft">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">中克重</span>
                            <div id="nGMWTInner">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">右克重</span>
                            <div id="nGMWTRight">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-buttom-5" style="margin-top:5px;">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">备注</span>
                            <div id="sRemark">
                                <input type="text" class="form-control" onblur="tableUpdata('sRemark')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <!-- 3 -->
            <div class="left-buttom margin-top-5">
                <table class="table table-hover" id="CheckData">
                    <tr>
                        <th>验布时间</th>
                        <th>批次</th>
                        <th>码长</th>
                        <th>米长</th>
                        <th>等级</th>
                        <th>幅宽</th>
                        <th>主疵点</th>
                        <th>备注</th>
                    </tr>
                </table>
            </div>
            <!-- 3 -->
        </div>
        <div class="right float-left">
            <div class="margin-left-30" id="right">
                <div class="right-top margin-buttom-5 border-bottom">
                    <div style="margin-top: 10px;">
                        <button type="button" class="btn btn-default">增加</button>
                        <button type="button" class="btn btn-default">删除</button>
                    </div>
                    <div class="margin-top-5">
                        <table class="table" id="defectTable">
                            <tr>
                                <th>序号</th>
                                <th>疵点名称</th>
                                <th>分数</th>
                                <th>位置</th>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table class="table" id="totalScore">
                            <tr>
                                <td></td>
                                <td></td>
                                <td name="totalScore"></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="right-inner border-bottom">
                    <div>
                        <ul class="nav nav-tabs">
                            <!-- class="active" -->
                            {% for i in returnDefectType %}
                            <li role="presentation" id="{{i['ID']}}" name="defectType"
                                onclick="ActiveLiType({{i['ID']}})"><a href="#">{{i['sDefectTypeName']}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="defectType">
                        <div class="btn-group" role="group" aria-label="...">
                            {% for i in returnGetDefect %}
                            <button type="button" class="btn btn-default btn-defectType"
                                onclick="clickDefect('{{i['sDefectNameCN']}}')">{{i['sDefectNameCN']}}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="right-buttom">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li> <button type="button" class="btn btn-default">上页</button> </li>
                            <li> <button type="button" class="btn btn-default">下页</button> </li>
                            <li> <button type="button" class="btn btn-default">1</button> </li>
                            <li> <button type="button" class="btn btn-default">2</button> </li>
                            <li> <button type="button" class="btn btn-default">3</button> </li>
                            <li> <button type="button" class="btn btn-default">4</button> </li>
                            <li> <button type="button" class="btn btn-default">5</button> </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" style="color:red; font-weight: 500;">
                        警告
                    </h4>
                </div>
                <div class="modal-body">
                    <span id="warn_field" style="color: red; font-size: 20px;"></span>
                    <span id="warn_field">为空</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseWarn()">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</body>

<script type="text/javascript" src="{{url_for('static',filename='KanBan/js/jQuery-2.2.0.min.js')}}"></script>
<!-- <script type="text/javascript" src="/eel.js"></script> -->

<script>
    function fullScreen() {
        window.open("http://198.168.6.56:5000/CheckFabric/", '新开验布界面', "channelmode=1", "fullscreen=1")
        return;
    }

    // ClassName
    var _$ = function (id) {
        return document.getElementsByClassName(id);
    }

    // ID
    var $$ = function (id) {
        return document.getElementById(id);
    }

    // Name
    var __$ = function (id) {
        return document.getElementsByName(id);
    }

    // 尺寸修改
    var getScreen = function () {
        var nWidth = document.body.clientWidth;
        var nHeight = document.documentElement.clientHeight;
        var content = $$('body');
        content.style.width = nWidth + 'px';
        content.style.height = nHeight - 100 + 'px';
        var rightDiv = $$('right');
        rightDiv.style.height = nHeight - 100 + 'px';
    }

    // 日期判断字符长度是否正确
    var length = function (value) {
        var strValue = value.toString();
        if (strValue.length < 2) {
            return '0' + value;
        } else {
            return value;
        }
    }

    // 获得日期
    var getDate = function () {
        var myDate = new Date();
        var year = myDate.getFullYear();
        var month = length(myDate.getMonth());
        var date = length(myDate.getDate());
        var hour = length(myDate.getHours());
        var min = length(myDate.getMinutes());
        var sec = length(myDate.getSeconds());
        var returnDate = year + '-' + month + '-' + date + ' ' + hour + ':' + min + ':' + sec
        return returnDate
    }

    // 页面初始
    window.onload = function () {
        getScreen();
        // fullScreen();
    }

    // 修改屏幕尺寸后进行div的更新
    window.onresize = function () {
        getScreen();
    }
</script>

<script>
    var defectID = 1


    var Begin = function () {
        defectID = 1
        var sVarCardNo = document.getElementById('sCardNo').value;
        var VarDetail = document.getElementsByName('detail');
        var iFlag;
        for (var i = 0; i < VarDetail.length; i++) {
            var ID = VarDetail[i].id;
            var sVar = sVarCardNo + '_' + ID;
            $('#' + ID).load('/CheckFabric/AJAX/Detail/' + sVar);
        }
    }

    // 根据卡号搜索详细信息
    var searchCardNo = function () {
        defectID = 1
        var sVarCardNo = document.getElementById('sCardNo').value;
        var VarDetail = document.getElementsByName('detail');
        var iFlag;
        $.ajax({
            type: 'GET',
            url: "/CheckFabric/popUp/BeginOrSearch/" + sVarCardNo,
            data: {},
            contentType: 'application/json; charset=UTF-8',
            dataType: 'json',
            success: function (data) {
                if (data.length > 1) {
                    console.log('有两个');
                    window.open("http://198.168.6.56:5000/CheckFabric/popUp/windows/search/", '选择哪个资料',
                        'height=500, width=900, top=270%, left=400%, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no'
                    )
                } else {
                    if (data[0]['iFlag0'] == '已完成') {
                        Begin();
                        SearchIsDouble();
                    } else if (data[0]['iFlag0'] == '待开工') {
                        for (var i = 0; i < VarDetail.length; i++) {
                            var ID = VarDetail[i].id;
                            var sVar = sVarCardNo + '_' + ID;
                            $('#' + ID).load('/CheckFabric/AJAX/Detail/' + sVar);
                        }
                    }
                    else{
                        Begin();
                    }
                }
            },
        });
        // if (iFlag.length > 1){
        //     console.log('2222222222222')
        // }
        console.log(iFlag)
        // console.log(VarDetail.length);
    }


    var SearchIsDouble = function () {
        var sVarCardNo = document.getElementById('sCardNo').value;
        $.ajax({
            type: 'GET',
            url: "/CheckFabric/popUp/SearchFlag/" + sVarCardNo,
            data2: {},
            contentType: 'application/json; charset=UTF-8',
            dataType: 'json',
            success: function (data2) {
                if (data2.length > 1) {
                    window.open(
                        "http://198.168.6.56:5000/CheckFabric/popUp/windows/" +
                        sVarCardNo, '选择哪个资料',
                        'height=650, width=900, top=270%, left=400%, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no'
                    )
                } else {
                    console.log('返回一个数据')
                }
            }
        })
    }


    // 回车也可以进行搜索
    var CheckInfo = function () {
        console.log(event.keyCode);
        if (event.keyCode == 13) {
            searchCardNo();
        }
    }

    // 胚布资料搜索
    var GetFabricPage = function () {
        var sVarCardNo = document.getElementById('sCardNo').value;
        window.open("http://198.168.6.56:5000/CheckFabric/AJAX/FabricIn/" + sVarCardNo, '胚布配检资料',
            'height=500, width=900, top=270%, left=400%, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no'
        )
    }

    // AJAX传回胚布批号
    var GetFabric = function (sFabricNo) {
        var sFabricNoVal = 'sFabricNo_' + sFabricNo;
        $('#sFabricNo2').load('/CheckFabric/AJAX/sFabricNo/' + sFabricNoVal);
        var sVarGroup = $$('sGroup').childNodes[0].value;
        var sEquipment = $$('sEquipment').childNodes[0].value;
        var sLocation = $$('sLocation').childNodes[0].nextElementSibling.value;
        if (sVarGroup == undefined || sVarGroup == '') {
            OpenWarn('班组');
            return;
        } else if (sEquipment == undefined || sEquipment == '') {
            OpenWarn('机台');
            return;
        } else if (sLocation == undefined || sLocation == '') {
            OpenWarn('布车');
            return;
        }
        AddCheck('3');
    }

    // 打开新标签页获得班别
    var GetGroupPage = function () {
        window.open("http://198.168.6.56:5000/CheckFabric/AJAX/Group/", '班别',
            'height=310, width=220, top=270%, left=600%, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no'
        )
    }

    // AJAX传回班别
    var GetGroup = function (sGroup) {
        var sGroupVal = 'sGroup_' + sGroup
        $('#sGroup').load('/CheckFabric/AJAX/sFabricNo/' + sGroupVal);
    }

    // 打开新标签页获得等级
    var GetGradePage = function () {
        window.open("http://198.168.6.56:5000/CheckFabric/AJAX/Grade/", '等级',
            'height=600, width=280, top=170%, left=600%, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no'
        )
    }

    // 返回等级
    var GetGrade = function (Grade) {
        var sGradeVal = 'sGrade_' + Grade
        $('#sGrade').load('/CheckFabric/AJAX/sFabricNo/' + sGradeVal);
    }

    // 打开新标签页获得异常
    var GetDefectPage = function () {
        window.open("http://198.168.6.56:5000/CheckFabric/AJAX/Defect/", '异常',
            'height=900, width=1800, top=170%, left=600%, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no'
        )
    }

    // 返回异常
    var GetDefect = function (Defect) {
        var sDefectVal = 'sDefect_' + Defect
        $('#sDefect').load('/CheckFabric/AJAX/sFabricNo/' + sDefectVal);
    }

    // 打开新标签页获得机台
    var GetEquipmentPage = function () {
        window.open("http://198.168.6.56:5000/CheckFabric/AJAX/Equipment/", '机台',
            'height=400, width=320, top=270%, left=600%, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no'
        )
    }

    // AJAX传回机台信息
    var GetEquipment = function (sEquipment) {
        var sEquipmentVal = 'sEquipment_' + sEquipment
        $('#sEquipment').load('/CheckFabric/AJAX/sFabricNo/' + sEquipmentVal);
    }

    // 警告框开启
    var OpenWarn = function (sField) {
        $$('warn_field').innerHTML = sField;
        $$('myModal').classList = 'modal fade in';
        $$('myModal').style.cssText = 'display: block';
        document.getElementsByTagName('body')[0].classList.add('modal-open');
    }

    // 警告框关闭
    var CloseWarn = function () {
        $$('myModal').classList = 'modal fade';
        $$('myModal').style.cssText = 'display: none;';
        document.getElementsByTagName('body')[0].classList = '';
    }

    // 新增验布信息
    var AddCheck = function (sMaterialLot) {
        var dDate = getDate();
        var nLength = $$('nLength').children[0].value;
        var nMeter = nLength * 0.9144;
        var sGrade = $$('sGrade').children[0].value;
        var nWidth = $$('nWidth').children[0].value;
        var sDefect = $$('sDefect').children[0].value;
        var sRemark = $$('sRemark').children[0].value;
        var TableData = $$('CheckData').children[0].children;
        for (var i = 0; i < TableData.length; i++) {
            TableData[i].className = '';
        }
        $('#CheckData').append("<tr class='active'> \
                                    <td name='dDate'>" + dDate + "</td> \
                                    <td name='sMaterialLot'>" + sMaterialLot + "</td> \
                                    <td name='nLength'>" + nLength + "</td> \
                                    <td name='nMeter'>" + nMeter + "</td> \
                                    <td name='sGrade'>" + sGrade + "</td> \
                                    <td name='nWidth'>" + nWidth + "</td> \
                                    <td name='sDefect'>" + sDefect + "</td> \
                                    <td name='sRemark'>" + sRemark + "</td> \
                                </tr>")
    }

    // 修改table
    var tableUpdata = function (ID, inputVar) {
        var inputValue = $$(ID).children[0].value;
        console.log(inputVar);
        if (inputVar) {
            inputValue = inputVar;
        }
        var TableData = $$('CheckData').children[0].children;
        for (var i = 0; i < TableData.length; i++) {
            if (TableData[i].className == 'active') {
                var tdData = TableData[i].children;
                for (var a = 0; a < tdData.length; a++) {
                    var tdName = tdData[a].attributes.name.nodeValue;
                    if (tdName == ID) {
                        tdData[a].innerHTML = inputValue;
                        if (tdName == 'nLength') {
                            var nMeter = inputValue * 0.9144;
                            tdData[a + 1].innerHTML = nMeter;
                        }
                    }
                }
            }
        }
    }

    // 类别标签激活
    var ActiveLiType = function (ID) {
        var defectTypeList = __$('defectType');
        for (var i = 0; i < defectTypeList.length; i++) {
            defectTypeList[i].className = '';
        }
        var defectTypeActive = $$(ID);
        defectTypeActive.className = 'active';
        GetDefectType(ID);
    }

    // AJAX 疵点信息 defectType
    var GetDefectType = function (TypeID) {
        $('#defectType').load('/CheckFabric/AJAX/defectType/' + TypeID);
    }

    // 判断Table中有无激活的TD
    var HasActive = function (tableData) {
        var iFlag = 0;
        for (var i = 0; i < tableData.length; i++) {
            if (tableData[i].className == 'active') {
                iFlag = 1
            }
        }
        return iFlag
    }

    // 查询Table中指定TD的值
    var returnTdValue = function (tdName, tableData) {
        for (var i = 0; i < tableData.length; i++) {
            if (tableData[i].className == 'active') {
                var TdData = tableData[i].children;
                for (var a = 0; a < TdData.length; a++) {
                    if (TdData[a].attributes.name.nodeValue == tdName) {
                        return TdData[a].children[0].value;
                    }
                }
            }
        }
    }

    // 点击疵点按钮增加疵点
    var clickDefect = function (defect) {
        var TableData = $$('CheckData').children[0].children;
        var iFlag = HasActive(TableData);
        if (iFlag == 1) {
            var defectTableData = $$('defectTable').children[0].children;
            var iFlag2 = HasActive(defectTableData);
            var ScoreValue = returnTdValue('nScore', defectTableData)
            if (iFlag2 == 1) {
                if (ScoreValue == '') {
                    for (var i = 0; i < defectTableData.length; i++) {
                        if (defectTableData[i].className == 'active') {
                            var TdData = defectTableData[i].children;
                            for (var a = 0; a < TdData.length; a++) {
                                if (TdData[a].attributes.name.nodeValue == 'sDefectName') {
                                    TdData[a].innerHTML = defect;
                                }
                            }
                        }
                    }
                } else {
                    for (var i = 0; i < defectTableData.length; i++) {
                        defectTableData[i].className = '';
                    }
                    $('#defectTable').append("<tr class='active'> \
                                    <td name='ID'>" + defectID + "</td> \
                                    <td name='sDefectName'>" + defect + "</td> \
                                    <td name='nScore'><input type='text'></td> \
                                    <td name='nSite'><input type='text'></td> \
                                </tr>")
                    defectID++;
                }
            } else {
                $('#defectTable').append("<tr class='active'> \
                                    <td name='ID'>" + defectID + "</td> \
                                    <td name='sDefectName'>" + defect + "</td> \
                                    <td name='nScore'><input type='text'></td> \
                                    <td name='nSite'><input type='text'></td> \
                                </tr>")
                defectID++;
            }

        }
    }

    //清除Hdr信息
    var clearHdr = function(){
        $$('sCardNo').value = '';
        $$('sLocation').children[0].value = '';
        $$('sOrderNo').children[0].value = '';
        $$('sMaterialNo').children[0].value = '';
        $$('sFabricNo1').children[0].value = '';
        $$('sCustomerName').children[0].value = '';
        $$('sColorNo').children[0].value = '';
        $$('sProductWidth').children[0].value = '';
    }

    //清楚Dtl Table 信息
    var clearDtl = function(){
        var DtlTable = $$('CheckData').children[0];
        for (var i = DtlTable.length; i > 0; i++){
            if (DtlTable[i].tagName != 'tr'){
                DtlTable.deleteRow(i);
                i -= 1;
            }
        }
    }
    
    //清楚Defect table信息
    var clearDefect = function() {
        var DtlTable = $$('defectTable').children[0];
        for (var i = DtlTable.length; i > 0; i++){
            if (DtlTable[i].tagName != 'tr'){
                DtlTable.deleteRow(i);
                i -= 1;
            }
        }
    }

    // 完工按钮
    var Finishclick = function(){
        Clear();
        clearHdr();
        clearDtl();
        clearDefect();
    }
</script>

<script>
    // 字段转中文
    var GetField = function (sField) {
        switch (sField) {
            case 'dDate':
                return '时间';
            case 'sMaterialLot':
                return '批号';
            case 'sMaterialLot':
                return '批号';
            case 'nLength':
                return '码长';
            case 'nMeter':
                return '米长';
            case 'sGrade':
                return '等级';
            case 'nWidth':
                return '幅宽';
            case 'sDefect':
                return '主疵点';
            case 'sRemark':
                return '备注';
        }

    }

    // 得到验布表中非空的字段
    var GetTableTd = function () {
        var TableData = $$('CheckData').children[0].children;
        for (var i = 0; i < TableData.length; i++) {
            if (TableData[i].className == 'active') {
                var TableDataActive = TableData[i].children;
                for (var i = 0; i < TableDataActive.length; i++) {
                    if (TableDataActive[i].innerHTML == undefined || TableDataActive[i].innerHTML == '') {
                        return GetField(TableDataActive[i].attributes.name.nodeValue);
                    };
                }
            }
        }
    }

    // 获得验布的时间
    var GetCheckTime = function () {
        var TableData = $$('CheckData').children[0].children;
        for (var i = 0; i < TableData.length; i++) {
            if (TableData[i].className == 'active') {
                var TableDataActive = TableData[i].children;
                for (var i = 0; i < TableDataActive.length; i++) {
                    if (TableDataActive[i].attributes.name.nodeValue == 'dDate') {
                        return TableDataActive[i].innerHTML;
                    };
                }
            }
        }
    }

    // 返回激活的Dtl是第几个
    var IsInsertHdr = function () {
        var TableData = $$('CheckData').children[0].children;
        // 专门设置i = 1,因为标题栏去除
        for (var i = 1; i < TableData.length; i++) {
            if (TableData[i].className == 'active') {
                return i;
            }
        }
    }

    // 返回JSON数据HDR
    var JsonHdr = function () {
        var JsonData = [];
        var sUserName = $$('sUserName').children[0].value;
        var sGroup = $$('sGroup').children[0].value;
        var sEquipment = $$('sEquipment').children[0].value;
        var sCardNo = $$('sCardNo').value;
        var sLocation = $$('sLocation').children[0].value;
        var uppTrackJobGUID = $$('uppTrackJobGUID').children[0].value;
        var usdOrderLotGUID = $$('usdOrderLotGUID').children[0].value;
        var ummMaterialGUID = $$('ummMaterialGUID').children[0].value;
        var utmColorGUID = $$('utmColorGUID').children[0].value;
        var upsWorkFlowCardGUID = $$('upsWorkFlowCardGUID').children[0].value;
        var row1 = {
            'sUserName': sUserName,
            'sGroup': sGroup,
            'sEquipment': sEquipment,
            'sCardNo': sCardNo,
            'sLocation': sLocation,
            'uppTrackJobGUID': uppTrackJobGUID,
            'usdOrderLotGUID': usdOrderLotGUID,
            'ummMaterialGUID': ummMaterialGUID,
            'utmColorGUID': utmColorGUID,
            'upsWorkFlowCardGUID': upsWorkFlowCardGUID,
        }
        JsonData.push(row1);
        return JsonData;
    }

    // 返回JSON数据DTL
    var JsonDtl = function () {
        var sFabricNo = $$('sFabricNo2').children[0].value;
        var nLength = $$('nLength').children[0].value;
        var sGrade = $$('sGrade').children[0].value;
        var nWidth = $$('nWidth').children[0].value;
        var sDefect = $$('sDefect').children[0].value;
        var nDensity = $$('nDensity').children[0].value;
        var nGMWTLeft = $$('nGMWTLeft').children[0].value;
        var nGMWTInner = $$('nGMWTInner').children[0].value;
        var nGMWTRight = $$('nGMWTRight').children[0].value;
        var sRemark = $$('sRemark').children[0].value;
        var sCardNo = $$('sCardNo').value;
        var tCheckTime = GetCheckTime();
        var uppTrackJobGUID = $$('uppTrackJobGUID').children[0].value;
        var JsonData = [];
        var row1 = {
            'tTime': tCheckTime,
            'sCardNo': sCardNo,
            'sFabricNo': sFabricNo,
            'nLength': nLength,
            'sGrade': sGrade,
            'nWidth': nWidth,
            'sDefect': sDefect,
            'nDensity': nDensity,
            'nGMWTLeft': nGMWTLeft,
            'nGMWTInner': nGMWTInner,
            'nGMWTRight': nGMWTRight,
            'sRemark': sRemark,
            'uppTrackJobGUID': uppTrackJobGUID,
        };
        JsonData.push(row1);
        return JsonData
    }

    // 返回JSON数据Defect
    var JsonDefect = function () {
        var JsonData = [];
        var TableData = $$('defectTable').children[0].children;
        for (var i = 0; i < TableData.length; i++) {
            var TableTd = TableData[i].children;
            var Dict = {};
            var tCheckTime = GetCheckTime();
            for (var a = 0; a < TableTd.length; a++) {
                // console.log(TableTd[a].tagName)
                if (TableTd[a].tagName == 'TD') {
                    // console.log(TableTd[a].attributes.name.nodeValue)
                    var TdName = TableTd[a].attributes.name.nodeValue;
                    var Tdvalue = TableTd[a].innerHTML;
                    Dict.tCheckTime = tCheckTime;
                    if (TdName == 'nScore' || TdName == 'nSite') {
                        Tdvalue = TableTd[a].children[0].value;
                    }
                    switch (TdName) {
                        case 'sDefectName':
                            Dict.sDefectName = Tdvalue;
                            break;
                        case 'nScore':
                            Dict.nScore = Tdvalue;
                            break;
                        case 'nSite':
                            Dict.nSite = Tdvalue;
                            break;
                        case 'ID':
                            Dict.ID = Tdvalue;
                            break;
                    }
                }
            }
            // console.log(JSON.stringify(Dict));
            if (JSON.stringify(Dict) != '{}') {
                JsonData.push(Dict);
            }
        }
        // console.log(JsonData);
        return JsonData
    }

    // 清除填写的内容
    var Clear = function () {
        $$('sFabricNo2').children[0].value = '';
        $$('nLength').children[0].value = '';
        $$('sGrade').children[0].value = '';
        $$('sDefect').children[0].value = '';
        $$('nDensity').children[0].value = '';
        $$('nGMWTLeft').children[0].value = '';
        $$('nGMWTInner').children[0].value = '';
        $$('nGMWTRight').children[0].value = '';
        $$('sRemark').children[0].value = '';
        // 去除时list会缩小,所以采用先去除大的开始
        var trList = $$('defectTable').children[0].children;
        var trList_length = $$('defectTable').children[0].children.length;
        for (var i = trList_length - 1; i >= 1; i--) {
            var tr = trList[i];
            tr.parentNode.removeChild(tr);
        }
        defectID = 1;
    }

    // 保存按钮
    var SaveHdr = function () {
        var sUserName = $$('sUserName').value;
        var sGroup = $$('sGroup').children[0].value;
        var sEquipment = $$('sEquipment').children[0].value;
        var sCardNo = $$('sCardNo').value;

        var bFlag = GetTableTd();
        // 判断填入的资料是否为空
        if (bFlag && bFlag != '备注') {
            // 为空报错
            OpenWarn(bFlag);
        } else {
            // 不为空判断验布时间是第几个,第一个增加Hdr,不是不增加
            var DtlRow = IsInsertHdr();
            var HdrData = JsonHdr();
            var DtlData = JsonDtl();
            console.log(DtlData);
            var DefectData = JsonDefect();
            // Dtl的数量只有在1的时候才加Hdr
            if (DtlRow == 1) {
                $.ajax({
                    type: 'POST',
                    url: 'AJAX/SaveData/HDR/',
                    data: JSON.stringify(HdrData),
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'json',
                    success: function (data) {},
                });
                $.ajax({
                    type: 'POST',
                    url: 'AJAX/SaveData/DTL/',
                    data: JSON.stringify(DtlData),
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'json',
                    success: function (data) {},
                });
                $.ajax({
                    type: 'POST',
                    url: 'AJAX/SaveData/Defect/',
                    data: JSON.stringify(DefectData),
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'json',
                    success: function (data) {},
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: 'AJAX/SaveData/DTL/',
                    data: JSON.stringify(DtlData),
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'json',
                    success: function (data) {},
                });
                $.ajax({
                    type: 'POST',
                    url: 'AJAX/SaveData/Defect/',
                    data: JSON.stringify(DefectData),
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'json',
                    success: function (data) {},
                });
            }
            Clear();
        }
    }

    var UpdateField = ['sFabricNo2', 'sCustomerName', 'sColorNo', 'sProductWidth', 'nLength', 'sGrade',
        'nWidth', 'sDefect', 'nDensity', 'nGMWTLeft', 'nGMWTInner', 'nGMWTRight', 'sRemark'
    ]

    var UpdateFinish = function (ID) {
        for (var i in UpdateField) {
            var VarValue = UpdateField[i] + '_' + ID
            // /AJAX/INPUT/
            $('#CheckData').load('/CheckFabric/AJAX/TABLE/' + VarValue);
            // console.log('UpdateField')
        }
    }

    // 点击DTL
    var ClickDTL = function (ID) {
        var AllTr = $$(ID).parentNode.childNodes;
        for (var i = 0; i < AllTr.length; i++) {
            AllTr[i].className = '';
        }
        $$(ID).className = 'active';
        for (var i = 0; i < UpdateField.length; i++) {
            var VarValue = UpdateField[i] + '_' + ID
            var Field = UpdateField[i]
            $('#' + Field).load('/CheckFabric/AJAX/INPUT/' + VarValue);
        }
        $('#defectTable').load('/CheckFabric/AJAX/TABLEDefect/' + ID);
    }
</script>

<script>
    var CheckView = function () {
        // 预览按钮
        var sCardNoInput = $$('sCardNo').value;
        var url = "http://198.168.6.56:5000/CheckFabric/CheckView/" + sCardNoInput + "/";
        console.log(url);
        window.open(url, '预览界面', "channelmode=1", "fullscreen=1")
    }
</script>

</html>