<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>班别</title>
    <style>
        .btn {
            padding: 25px 130px;
            text-align: center;
            font-size: 25px;
            width: 250px;
        }
    </style>

    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">

</head>

<body>
    <br>
    <div class="form-group has-success has-feedback">
        <input type="text" class="form-control" id="DefectValue" aria-describedby="inputSuccess2Status">
    </div>

    <div class="right-inner border-bottom">
        <div>
            <ul class="nav nav-tabs">
                <!-- class="active" -->
                {% for i in returnDefectType %}
                <li role="presentation" id="{{i['ID']}}" name="defectType" onclick="ActiveLiType({{i['ID']}})"><a
                        href="#">{{i['sDefectTypeName']}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div id="defectType">
            <div class="btn-group" role="group" aria-label="...">
                {% for i in returnGetDefect %}
                <button type="button" class="btn btn-default btn-defectType"
                    onclick="clickDefect('{{i['sDefectNameCN']}}')">{{i['sDefectNameCN']}}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <nav aria-label="...">
        <ul class="pager">
            <li><a href="#" style="font-size:20px;" onclick="ToClose()">取消</a></li>
            <li><a href="#" style="font-size:20px;" onclick="ToSave()">确定</a></li>
        </ul>
    </nav>
</body>
<script type="text/javascript" src="{{url_for('static',filename='KanBan/js/jQuery-2.2.0.min.js')}}"></script>

<script>
    // ClassName
    var _$ = function (id) {
        return document.getElementsByClassName(id);
    }

    // ID
    var $$ = function (id) {
        return document.getElementById(id);
    }

    // Name
    var __$ = function (id) {
        return document.getElementsByName(id);
    }

</script>


<script>

    // 类别标签激活
    var ActiveLiType = function(ID){
        var defectTypeList = __$('defectType');
        for (var i = 0; i < defectTypeList.length; i++){
            defectTypeList[i].className = '';
        }
        var defectTypeActive = $$(ID);
        defectTypeActive.className = 'active';
        GetDefectType(ID);
    }

    // AJAX 疵点信息 defectType
    var GetDefectType = function(TypeID){
        $('#defectType').load('/CheckFabric/AJAX/defectType/' + TypeID);
    }

    // 点击按钮输出到input
    var clickDefect = function(value){
        var sValue = $$('DefectValue').value;
        if (sValue != ''){
            sValue = ';';
        }else{
            sValue = '';
        }
        sValue += value
        $$('DefectValue').value += sValue;
    }

    // 点击保存
    var ToSave = function (value) {
        // console.log(value);
        var value = $$('DefectValue').value;
        window.opener.GetDefect(value);
        window.opener.tableUpdata('sDefect',value);
        window.close();
    }

    // 退出
    var ToClose = function(){
        window.close();
    }
</script>

</html>