<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>机台</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
</head>

<body>
    <div id="container">
        <table class="table table-hover" style="font-size:25px;">
            <tr>
                <th>机台编号</th>
                <th>机台名称</th>
            </tr>
            {% for i in sEquipment %}
            <tr ondblclick="dbclick_table('{{i['sEquipmentName']}}');">
                <td>{{i['sEquipmentNo']}}</td>
                <td>{{i['sEquipmentName']}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script>
    var dbclick_table = function(sEquipmentName){
        // console.log(sEquipmentNo);
        window.close();
        window.opener.GetEquipment(sEquipmentName);
    }
</script>
</html>