<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
</head>
<body>
    <div id="container" style="font-size:25px;">
        <table class="table table-hover">
            <tr>
                <th>胚布条码</th>
                <th>物料编号</th>
                <th>批号</th>
                <th>投入重量</th>
                <th>投入长度</th>
            </tr>
            {% for i in Fabric %}
            <tr ondblclick="dbclick_table('{{i['sFabricNo']}}');">
                <td>{{i['sFabricNo']}}</td>
                <td>{{i['sMaterialNo']}}</td>
                <td>{{i['sMaterialLot']}}</td>
                <td>{{i['nFactInputQty']}}</td>
                <td>{{i['nFactInputLen']}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script type="text/javascript" src="{{url_for('static',filename='KanBan/js/jQuery-2.2.0.min.js')}}"></script>

<script>
    var dbclick_table = function(sFabricNo){
        // console.log(sFabricNo);
        window.opener.GetFabric(sFabricNo);
        window.close();
    }
</script>

</html>