<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>班别</title>
    <style>
        .btn {
            padding: 55px 92px;
            text-align: center;
            font-size: 25px;
        }
    </style>
</head>

<body>
    <button class="btn" ondblclick="dbclick('A')">A</button><br>
    <button class="btn" ondblclick="dbclick('B')">B</button>
</body>

<script>
    var dbclick = function (value) {
        console.log(value);
        window.opener.GetGroup(value);
        window.close();
    }
</script>

</html>