<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>判断页面</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
</head>
<body>
    <div id="container" style="font-size:25px;">
        <br>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="ChickBegin()"> 开工 </button>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="ChickSearch()"> 回查 </button>
    </div>
</body>

<script type="text/javascript" src="{{url_for('static',filename='KanBan/js/jQuery-2.2.0.min.js')}}"></script>

<script>
    // 点击开工
    var ChickBegin = function(){
        window.opener.Begin();
        window.close();
    }

    var ChickSearch = function() {
        window.opener.SearchIsDouble()
        window.close()
    }

</script>

</html>