<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>判断页面</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='CheckFabric/css/CheckFabric.css')}} " />
    <link rel="stylesheet" href=" {{url_for('static', filename = 'KanBan/css/AdminLTE.min.css')}} ">
    <style>
        body {
            background-color: #ecf0f5;
        }

        .tab-bgcolor {
            background-color: #fff;
        }

        .tab {
            padding: 20px;

        }
    </style>
</head>

<body>
    <div id="container" style="font-size:25px;">
        {% for i in returnValue %}
        <div class="col-xs-4 col-md-3">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header text-center">
                    <span>{{i['sCardNo']}}</span>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked text-center">
                        <li><a href="#">{{i['nRowNumber']}}</a></li>
                        <li class="bg-yellow"><a href="#">验布日期</a></li>
                        <li><a href="#">{{i['tInspectTime']}}</a></li>
                        <li><a href="#"><button type="button" class="btn btn-primary btn-lg btn-block" onclick="clickBtn({{i['ID']}})">选择</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

<script type="text/javascript" src="{{url_for('static',filename='KanBan/js/jQuery-2.2.0.min.js')}}"></script>

<script>
    var dbclick_table = function (sFabricNo) {
        // console.log(sFabricNo);
        window.opener.GetFabric(sFabricNo);
        window.close();
    }

    var clickBtn = function (ID) {
        window.opener.UpdateFinish(ID);
        window.close();
    }
</script>

</html>