<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>颜色预览</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <td>ID</td>
            <td>Page</td>
            <td>No</td>
            <td>Color</td>
            <td>Name</td>
        </tr>
        {% for i in returnColor %}
        <tr>
            <td> {{i['ID']}} </td>
            <td> {{i['Page']}} </td>
            <td> {{i['No']}} </td>
            <td style="background-color: {{i['Color']}}"> {{i['Color']}} </td>
            <td> {{i['Name']}} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>