#body {
    padding: 0 5px;
}

.main_var {
    height: 100%;
    margin-top: 105px;
}

.section {
    position: relative;
    margin: 0 auto;
    float: left;
    text-align: center;
    padding: 0 10px;
    width: 270px;
}