#body {
    padding: 0 5px;
}

.section {
    position: relative;
    margin: 0 auto;
    float: left;
    text-align: center;
    padding: 0 10px;
    width: 270px;
}

.main_var {
    height: 100%;
    margin-top: 105px;
}

.dragslot {
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

.title_var {
    background-color: #48D1CC;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.title_span_var {
    text-align: center;
    font-size: 15px !important;
}

li {
    list-style: none;
}

.li_style {
    height: 110px;
    border-bottom: 2px solid #999 !important;
    padding: 0 !important;
}

.float_left {
    float: left;
}


.left_div {
    width: 60%;
    height: 100%;
}

.border_right {
    border-right: 1px solid #bbb;
}

.left_1,
.left_2,
.left_3 {
    height: 27px;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
}

.left_1,
.left_2 {
    font-size: 16px !important;

}

.left_3 {
    font-size: 13px !important;
}

.left_4 {
    height: 26px;
    text-align: center;
    line-height: 25px;
    font-size: 13px !important;
    font-weight: 700;
}

.border_bottom {
    border-bottom: 1px solid #bbb;
}

.right_div {
    width: 40%;
    font-size: 14px !important;
}

.right_1 .right_2 .right_3 {
    height: 20px;
}

.right_4 {
    height: 19px;
    font-size: 13px !important;
    line-height: 19px;
}

.right_1_left {
    width: 22%;
    height: 20px;
}

.right_1_mid {
    width: 22%;
    height: 20px;
}

.right_1_right {
    width: 56%;
    height: 20px;
}

.top_left .top_right {
    width: 100%;
}

.top_remark {
    padding: 0px 5px;
    height: 24px;
    line-height: 15px;
}

a {
    cursor: pointer;
}

.currentli {
    color: #186ecc;
    font-weight: 700;
}

.clearli {
    color: #111;
    font-weight: 100;
}

.XG_div {
    text-align: center;
    height: 110px;
    line-height: 110px;
    font: 40px;
}

a {
    color: #111 !important;
}

.title_li>li {
    width: 9.1%;
    text-align: center;
    font-size: 20px;
}

.title_li {
    width: 100%;
}

.equ_li {
    width: 20%;
    text-align: center;
    font-size: 15px;
    border-right: 2px solid #ccc;
}

#title_2,
#title_3 {
    width: 50%;
    font-size: 18px;
}

#title_4 {
    width: 100%;
    font-size: 18px;
}

#title_5 {
    width: 100%;
    font-size: 18px;
}

#title_3 {
    background-color: #C8E2B1;
    text-align: center;
}

#title_3>li {
    border-left: 2px solid #ccc;
}

#Search,
#sRemark {
    height: 70px;
}

#title_4 {
    height: 50px;
}

.saveLi {
    background-color: #83C75D;
    font-weight: 800;
}

.input_style {
    width: 200px !important;
}

.input-var {
    width: 170px !important;
}

.search_left,
.search_right {
    height: 50px;
}

.search_left {
    width: 60px;
    text-align: center;
    background-color: #FFFAF0;
    border-radius: 10px;
}

.search_right {
    padding-left: 20px;
}

.search_get {
    background: #FFF68F;
}

.bottom_Search {
    background-color: #E9E9E9;
    border-color: #e7e7e7;
    height: 20px !important;
    line-height: 20px;
    text-align: left;
}

.container {
    width: auto !important;
    color: #FF0000;
    font-weight: 700;
}

.XG_li{
    height: 60px;
    line-height: 60px;
    background-color:#8DEEEE
}

.XG_div{

    height: 55px;
    line-height: 55px;
}