<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>看板 - 取样</title>

    <link rel="stylesheet" href=" {{url_for('static',filename='KanBan/css/GetSample.css')}} " />

</head>

<body>
    <div class="container">
        <div class="wrapper border" id="wrapper">
            <div class="slide float-left" id="slide">
                <div class="float-left left-div border-right" id="main-div">
                    {% for i in minList %}
                    <div class="left-top-div border-bottom" >
                        <div class="float-left inner-left border-right text-center font-color">
                            <div class="mac-font border-bottom">
                                <span> {{i['sEquipmentNo']}} </span>
                            </div>
                            <div class="card-font border-bottom text-center">
                                <span>{{i['sCardNo']}}</span>
                            </div>
                            <div class="cust-font text-center">
                                <span>perfect star(crystal martin)</span>
                            </div>
                        </div>
                        <div class="float-left inner-right">
                            <div class="top-top border-bottom font-color text-center">
                                <span>{{i['sColorNo']}}</span>
                            </div>
                            <div class="top-top border-bottom font-color text-center">
                                <span>{{i['sMaterialNo']}}</span>
                            </div>
                            <div class="top-top border-bottom font-color text-center">
                                <span>重量:</span>
                                <span>{{i['nFactInputQty']}}</span>
                            </div>
                            <div class="top-bottom text-center font-color">
                                <span>{{i['sRemark']}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="float-left right-div" id="right-div">
                    {% for i in euipmentList %}
                    <div class="all-mac-list text-center border-bottom ">
                        <span>{{i['sEuipmentNo']}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="{{url_for('static',filename='KanBan/js/jQuery-2.2.0.min.js')}}"></script>

<script>
    
    var _$ = function (id) {
        return document.getElementsByClassName(id);
    }

    // 页面大小设置
    var getScreen = function () {
        var nWidth = document.body.clientWidth;
        var nHeight = document.documentElement.clientHeight;
        sWrapper = document.getElementById('wrapper')
        nWidth = nWidth - 6;
        nHeight = nHeight - 50;
        sWrapper.style.width = nWidth + 'px';
        sWrapper.style.height = nHeight + 'px';
        _$('left-div')[0].style.width = (nWidth - 3) * 0.88 + 'px';
        nLeftDivWidth = (nWidth - 6) * 0.88
        nRightDivWidth = (nWidth - 6) * 0.12
        _$('right-div')[0].style.width = (nWidth - 3) * 0.12 + 'px';
        var nLeftBottomHeight = nHeight - (nHeight - 3) * 0.7
        _$('inner-left')[0].style.width = (nLeftDivWidth - 3) * 0.6 + 'px';
        _$('inner-right')[0].style.width = (nLeftDivWidth - 3) * 0.4 + 'px';
        _$('mac-font')[0].style.height = (nHeight - 3) * 0.6 +'px';
        _$('card-font')[0].style.height = (nHeight - 3) * 0.2 +'px';
        _$('card-font')[0].style.lineHeight = (nHeight - 3) * 0.2 +'px';
        _$('cust-font')[0].style.lineHeight = (nHeight - 3) * 0.2 +'px';
        _$('top-top')[0].style.lineHeight = (nHeight - 3) * 0.2 +'px';
        _$('top-top')[1].style.lineHeight = (nHeight - 3) * 0.2 +'px';
        _$('top-top')[2].style.lineHeight = (nHeight - 3) * 0.2 +'px';
        _$('top-bottom')[0].style.lineHeight = (nHeight - 3) * 0.4 +'px';
        console.log('------------')
        console.log(nWidth)
        console.log(nHeight)
        
    }

    // 浏览器界面大小拖放事件
    window.onresize = function () {
        getScreen();
    }

    // 睡眠时间
    function sleep(delay) {
        var start = (new Date()).getTime();
        while ((new Date()).getTime() - start < delay) {
            continue;
        }
    }

    // 幻灯片事件
    var slideEvent = function () {
        var allSlide = document.getElementById('right-div');
        child = allSlide.children;
        var a = 0
        for (var i = 0; i < child.length; i++) {
            childBGColor = child[i].style.backgroundColor;
            if (childBGColor == 'green') {
                a = i + 1;
                child[i].style.backgroundColor = '#FFEBCD';
            }
        }
        if (a < i) {
            child[a].style.backgroundColor = 'green';
            var childValue = child[a].children[0].innerHTML;
            console.log(childValue);
            $('#main-div').load('/KanBan/取样/AJAX/' + childValue );
            return;
        }
    }


    

    // AJAX机台信息
    var AJAXMac = function () {
        $('#right-div').load('/KanBan/取样/AJAX');
    }



    // 主程序
    var main = function () {
        getScreen();
        setInterval(slideEvent, 10000);
        setInterval(AJAXMac, 40000);
    }
    main()
</script>

</html>