<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>看板-技术部-工段</title>

    <link rel="stylesheet" href=" {{url_for('static', filename = 'KanBan/css/bootstrap.min.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static', filename = 'KanBan/css/AdminLTE.min.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static', filename = 'KanBan/css/JSInformation.css')}} ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="body" id="body">
        <div class="div-nav navbar-fixed-top" id="title">
            <ul class="nav nav-pills nav-justified " style="background-color:#F5F5F5;" id="GroupUL">
                {% for i in workingProcedureList %}
                <!-- class="active" -->
                <li role="presentation" name="liNav" style="font-size:25px;">
                    <a href="#" onclick="onclickProcedure('{{i['sWorkingProcedureName']}}')">
                        <span>{{i['sWorkingProcedureName']}}</span>
                        <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow"
                            style="font-size:20px; margin-top:-5px; border-radius:20px;">
                            {{i['nWorkingProcedureCount']}} </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="wrapper">
            <div class="content" id="content" style="margin-top: 76px;">
                {% for i in getList %}
                <div class="col-md-2" style="height:240px; margin-top: -7px;" onclick="turnOver()">
                    <div class="box direct-chat" style="height:220px; border-top: 6px solid {{i['borderColor']}}"
                        id="box{{i['id']}}">
                        <div class="box-header text-center">
                            <h3 class="box-title" style="font-size: 30px; font-weight: 900;">{{i['sMaterialNo']}}</h3>
                        </div>
                        <div class="box-body" style="margin-top:-8px;">
                            <div class="direct-chat-messages">
                                <ul class="text-center" style="font-size:26px; font-weight: 500;">
                                    <li>{{i['sCardNo']}}</li>
                                    <li>{{i['tCardTime']}}</li>
                                    <li>{{i['sWorkingProcedureName']}}</li>
                                    <li>{{i['sSalesName']}}</li>
                                </ul>
                            </div>
                            <div class="direct-chat-contacts" style="font-size: 30px; height:172px;" name="remark">
                                {{i['sKanBanRemark']}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="footer" class="footer float-left text-center" onmouseover="overShow()" onmouseout="overHide()" onclick="ToSale()">
            <span class="glyphicon glyphicon-menu-up" aria-hidden="true" style="display: none; font-size: 30px;"></span>
        </div>
    </div>
</body>

<script type="text/javascript" src="{{url_for('static',filename='KanBan/js/jQuery-2.2.0.min.js')}}"></script>

<script>
    // 部门轮播图信息
    var slideShow = function () {
        var liData = __$('liNav');
        var iflag = undefined;
        for (var i = 0; i < liData.length; i++) {
            var className = liData[i].className;
            if (className === 'active') {
                iflag = i;
            }
        }
        if (iflag == undefined) {
            liData[0].className = 'active';
            console.log(liData[0].children[0].children[0].innerHTML)
            return liData[0].children[0].children[0].innerHTML;
        } else if (iflag + 1 == liData.length) {
            liData[0].className = 'active';
            liData[iflag].className = '';
            return liData[0].children[0].children[0].innerHTML;
        } else {
            liData[iflag + 1].className = 'active';
            liData[iflag].className = '';
            return liData[iflag + 1].children[0].children[0].innerHTML;
        }
    }

    // 更新信息
    var update = function () {
        var sWorkingProcedureName = slideShow().replace(' ', '');
        console.log(sWorkingProcedureName)
        $('#content').load('/KanBan/技术部/sWorkingProcedureName/AJAX/' + sWorkingProcedureName);
    }

    // 滚动信息
    var scroll = function () {
        document.documentElement.scrollTop = 0;
        var height = document.body.clientHeight;
        var number = 0; //控制结束累加器
        var length = 0; //控制每次翻滚长度
        var frequency = 120; //控制总时间
        var scrollTopVar;
        var scrollTopMax;
        var time = setInterval(function () {
            number += 1;
            scrollTopVar = document.documentElement.scrollTop;
            if (scrollTopMax == undefined) {
                scrollTopMax = scrollTopVar;
            } else if (scrollTopVar > scrollTopMax) {
                scrollTopMax = scrollTopVar
            } else if (scrollTopVar <= scrollTopMax) {
                time2 = setTimeout(function () {
                    update();
                }, 8000)
                clearInterval(time);
            }
            length += height / frequency;
            document.documentElement.scrollTop = length;
        }, 150); //每隔1S翻滚
        console.log(number)
    }

    var UpdateActive = function () {
        var obj_lis = document.getElementById("GroupUL").getElementsByTagName("li");
        for (i = 0; i < obj_lis.length; i++) {
            obj_lis[i].onclick = function () {
                var sSaleName = this.children[0].children[0].innerHTML;
                sSaleName = sSaleName.replace(' ', '');
                for (var i = 0; i < this.parentNode.children.length; i++) {
                    this.parentNode.children[i].className = ''
                }
                this.className = 'active';
            }
        }
    }


    var onclickProcedure = function (sWorkingProcedureName) {
        UpdateActive();
        console.log(sWorkingProcedureName);
        // var sWorkingProcedureName = slideShow().replace(' ', '');
        // console.log(sWorkingProcedureName)
        $('#content').load('/KanBan/技术部/sWorkingProcedureName/AJAX/' + sWorkingProcedureName);

        time5 = setTimeout(function () {
            window.location.reload();
        }, 6000)
    }

    var turnOver = function () {
        var remarkArray = __$('remark');
        for (var i in remarkArray) {
            var sFlag = /open/;
            var dict = remarkArray[i].innerHTML;
            var str = dict.replace(/^\s*|\s*$/g, "");
            var remarkParent = remarkArray[i].parentNode.parentNode;
            if (str != 'None' && sFlag.test(remarkParent.className) == false) {
                remarkParent.className += ' direct-chat-contacts-open';
            } else if (str != 'None' && sFlag.test(remarkParent.className) == true) {
                remarkParent.className = 'box direct-chat';
            }
        }
    }


</script>


<script>
    var time2;
    // ClassName
    var _$ = function (id) {
        return document.getElementsByClassName(id);
    }

    // ID
    var $$ = function (id) {
        return document.getElementById(id);
    }

    // Name
    var __$ = function (id) {
        return document.getElementsByName(id);
    }

    // 尺寸修改
    var getScreen = function () {
        var nWidth = document.body.clientWidth;
        var nHeight = document.documentElement.clientHeight;
        var content = $$('body')
        content.style.width = nWidth + 'px'
        content.style.height = nHeight - 100 + 'px'
        $$('footer').style.width = nWidth + 'px';
    }

    // 页面初始
    window.onload = function () {
        // timename1=setInterval("update();",10000);
        getScreen();
        scroll();

    }

    // 修改屏幕尺寸后进行div的更新
    window.onresize = function () {
        getScreen();
    }
</script>

<script>
    var overShow = function () {
        $$('footer').children[0].style.display = "block";
    }
    var overHide = function () {
        $$('footer').children[0].style.display = "none";
    }

    var ToSale = function () {
        window.location.href = "http://127.0.0.1:5000/KanBan/技术部/";
    }
</script>


</html>