body {
    margin: 0;
    padding: 0;
}

.border {
    border: 1px solid #111;
}

.text-center,
th {
    text-align: center;
}

.margin-left-10 {
    margin-left: 10px;
}

.float-left {
    float: left;
}

.width20p {
    width: 20%;
}

.width30p {
    width: 30%;
}

.label_var {
    color: #111;
    font-size: 10px;
    font-weight: 100;
}

.text-center th {
    color: #111;
    font-size: 9px;
    font-weight: 100;
}

tr th,
tr td {
    border-spacing: 0px 5px;
    height: 5px;
}

.lineHeight30 {
    line-height: 30px;
}

.small {
    width: 100px;
    line-height: 30px;
}

.tr100 {
    width: 100px;
    line-height: 30px !important;
}

.tr3015 {
    width: 20px;
    line-height: 15px;
}

.tr3030 {
    width: 30px;
    line-height: 30px !important;
}

.tr40 {
    width: 40px;
    line-height: 30px !important;
}

.tr200 {
    width: 200px;
    line-height: 30px !important;
}