<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>生管预排说明</title>
</head>
<body>
    <ul>
        <li><span style="background-color:#FFFF00;">ERP系统急件</span></li>
        <li><span style="background-color:#FFA54F;">特急件</span></li>
        <li><span style="background-color:#186ecc;">选中效果</span></li>
        <li><span style="background-color:palevioletred;">搜索找到效果</span></li>
        <li><span style="background-color:palegreen;">当前预排效果</span></li>
        <li><span style="background-color:yellowgreen;">取消预排效果</span></li>
    </ul>
</body>
</html>

