<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>定型预排生管排单</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.min.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='plan/css/dragslot.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='plan/css/plan_PMC.css')}} ">

    <style type="text/css">
        /* 选中效果 */
        .currentli {
            color: #186ecc;
            font-weight: 700;
        }

        .currentTitle {
            color: #000;
        }

        /* 搜索找到效果 */
        .findOut {
            background-color: palevioletred !important;
        }

        /* 预排效果 */
        .nowPlan {
            background-color: palegreen !important;
        }

        /* 取消预排效果 */
        .noPlan {
            background-color: yellowgreen !important;
        }

        /* ERP急件效果 */
        .ERPUrgent {
            background-color: #FFFF00 !important
        }

        /* 标记特急效果 */
        .sUrgent {
            background-color: #FFA54F !important;
        }
    </style>

</head>

<body id="body">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href=" {{ url_for('plan.PMCIndex', sWorkingProcedureName = 'PS' ) }} ">预定</a>
                <a class="navbar-brand" href=" {{ url_for('plan.PMCIndex', sWorkingProcedureName = 'SXJ1' ) }} ">水洗1</a>
                <a class="navbar-brand" href=" {{ url_for('plan.PMCIndex', sWorkingProcedureName = 'SXJ2' ) }} ">水洗2</a>
                <a class="navbar-brand" href=" {{ url_for('plan.PMCIndex', sWorkingProcedureName = 'SE' ) }} ">成定</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a>|</a></li>
                    <li><a href="#" onclick="GetLabel()">标记&取消特急</a></li>
                    <li><a>|</a></li>
                    <li><a href="#" onclick="ToPlan()">标记预排</a></li>
                    <li><a href="#" onclick="DeleteLabelData()">取消预排</a></li>
                    <li><a>|</a></li>
                    <li><a href="#" onclick="unCheck('up')">取消选中</a></li>
                    <li><a>|</a></li>
                    <li><a href="#" style="color : perus;" onclick="saveData()">确定</a></li>
                    <li><a>|</a></li>
                    <li><a href="#" onclick="ExportExcel()">导出</a></li>
                    <li><a>|</a></li>
                    <li><a href="#" onclick="btnPrint()">打印</a></li>
                    <li><a href="#" onclick="btnRemark()">说明</a></li>
                    <li><input style="margin-top: 10px; width: 200px;" type="file" onchange="importf(this)" /></li>
                </ul>
                <div class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="卡号 / 色号 / 布种 / ..." id="sSearchInput">
                    </div>
                    <button type="" class="btn btn-default" onclick="SearchInput()">搜索数据</button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: palevioletred;" id="showviews"></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main_var">
        <div class="outer_div">
            <div class="htmleaf-container">
                <div style="position:inherit; height: 40px; text-align: center; overflow-y:scroll;">
                    <table class="table" style="height: 40px; width:100%; z-index:2; overflow-y:scroll;">
                        <tbody>
                            <tr style="background-color:#EEE0E5;">
                                <td style="width: 4%; line-height: 25px;" class="border-left">超时</td>
                                <td style="width: 10%; line-height: 25px;" class="border-left">客户名称</td>
                                <td style="width: 5%; line-height: 25px;" class="border-left">布车号</td>
                                <td style="width: 8%; line-height: 25px;" class="border-left">物料编号</td>
                                <td style="width: 3%; line-height: 25px;" class="border-left">LOT</td>
                                <td style="width: 8%; line-height: 25px;" class="border-left">卡号</td>
                                <td style="width: 9%; line-height: 25px;" class="border-left">色号</td>
                                <td style="width: 5%; line-height: 25px;" class="border-left">投胚</td>
                                <td style="width: 5%; line-height: 25px;" class="border-left">上工段</td>
                                <td style="width: 5%; line-height: 25px;" class="border-left">现工段</td>
                                <td style="width: 5%; line-height: 25px;" class="border-left">下工段</td>
                                <td style="width: 4%; line-height: 25px;" class="border-left">生交期</td>
                                <td style="width: 4%; line-height: 25px;" class="border-left">业交期</td>
                                <td style="width: 5%; line-height: 25px;" class="border-left">耗时</td>
                                <td style="width: 8%; line-height: 25px;" class="border-left">营业课别</td>
                                <td style="width: 10%; line-height: 25px;" class="border-left">工卡备注</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form action="" method="POST">
                    <section class="">
                        <div id="dragslot">
                            <div class="top-div" id="top-div" style="overflow-y:scroll; ">
                                <ul id="ul_var" class="" style="padding: 0; ">
                                    {% for i in PlanData %}
                                    <li class="slot-item height40 marginLeft40 {{i.sLabel}}" style="padding: 0; ">
                                        <div class="clearfix height40">
                                            <div class="hover_PMC" style="width:100%;">
                                                <table class="table">
                                                    <tr style="text-align: center;">
                                                        <td style="width: 4%; line-height: 25px;" class="border-left">
                                                            {{i.nOverTime}}</td>
                                                        <td style="width: 10%; line-height: 25px;" class="border-left">
                                                            {{i.sCustomerName}}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.sLocation}}</td>
                                                        <td style="width: 8%; line-height: 25px;" class="border-left">
                                                            {{i.sMaterialNo}}</td>
                                                        <td style="width: 3%; line-height: 25px;" class="border-left">
                                                            {{i.sMaterialLot}}</td>
                                                        <td style="width: 8%; line-height: 25px;" class="border-left">
                                                            {{i.sCardNo}}</td>
                                                        <td style="width: 9%; line-height: 25px;" class="border-left">
                                                            {{i.sColorNo}}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.nFactInputQty}}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.sWorkingProcedureNameLast}}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.sWorkingProcedureNameCurrent}}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.sWorkingProcedureNameNext}}</td>
                                                        <td style="width: 4%; line-height: 25px;" class="border-left">
                                                            {{i.dReplyDate }}</td>
                                                        <td style="width: 4%; line-height: 25px;" class="border-left">
                                                            {{i.dDeliveryDate }}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.nPSTime}}</td>
                                                        <td style="width: 8%; line-height: 25px;" class="border-left">
                                                            {{i.sSalesGroupName}}</td>
                                                        <td style="width: 10%; line-height: 25px;" class="border-left">
                                                            {{i.sRemark}}</td>
                                                        <td hidden>{{i.uppTrackJobGUID}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div style="margin-left:-40px;">
                                <ul>
                                    <li>
                                        <div class="" style="overflow-y:scroll;">
                                            <div class="hover_PMC" style="width:100%; overflow-y:scroll;">
                                                <table class="table" style="background-color:#EEE0E5;">
                                                    <tr style="text-align: center;">
                                                        <td style="width: 4%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 10%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 5%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 8%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 3%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 8%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 9%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 5%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 5%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 5%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 5%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 4%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 4%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left" id="count_tr"></td>
                                                        <td style="width: 5%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left" id="sum_time"></td>
                                                        <td style="width: 8%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        <td style="width: 10%; line-height: 10px; font-size: 0.8em; font-weight: 700"
                                                            class="border-left"></td>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div style="background-color:#000; height:5px; margin-top: -12px;"></div>
                            <div class="bottom-div" id="bottom-div" style="overflow-y:scroll;" style="position: fixed;">
                                <!-- <div id="section_var_PMC2" class="section_var_PMC2" style="overflow-y:scroll;"> -->
                                <ul id="bottom_ul" class="" style="margin: 0;padding: 0;">
                                    <!-- <div style="margin-top: 30px;" style="position: fixed;"> -->
                                    {% for i in NoPlanData %}
                                    <li class="slot-item height40 marginLeft40"
                                        style="padding: 0; background-color: {{i.sIsRush}}">
                                        <div class="clearfix height40">
                                            <div class="hover_PMC" style="width:100%;">
                                                <table class="table">
                                                    <tr style="text-align: center;">
                                                        <!--  -->
                                                        <td style="width: 4%; line-height: 25px;" class="border-left">
                                                            {{i.nOverTime}}</td>
                                                        <td style="width: 10%; line-height: 25px;" class="border-left">
                                                            {{i.sCustomerName}}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.sLocation}}</td>
                                                        <td style="width: 8%; line-height: 25px;" class="border-left">
                                                            {{i.sMaterialNo}}</td>
                                                        <td style="width: 3%; line-height: 25px;" class="border-left">
                                                            {{i.sMaterialLot}}</td>
                                                        <td style="width: 8%; line-height: 25px;" class="border-left">
                                                            {{i.sCardNo}}</td>
                                                        <td style="width: 9%; line-height: 25px;" class="border-left">
                                                            {{i.sColorNo}}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.nFactInputQty}}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.sWorkingProcedureNameLast}}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.sWorkingProcedureNameCurrent}}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.sWorkingProcedureNameNext}}</td>
                                                        <td style="width: 4%; line-height: 25px;" class="border-left">
                                                            {{i.dReplyDate }}</td>
                                                        <td style="width: 4%; line-height: 25px;" class="border-left">
                                                            {{i.dDeliveryDate }}</td>
                                                        <td style="width: 5%; line-height: 25px;" class="border-left">
                                                            {{i.nPSTime}}</td>
                                                        <td style="width: 8%; line-height: 25px;" class="border-left">
                                                            {{i.sSalesGroupName}}</td>
                                                        <td style="width: 10%; line-height: 25px;" class="border-left">
                                                            {{i.sRemark}}</td>
                                                        <td hidden>{{i.uppTrackJobGUID}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>

    <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

    <script>
        window.jQuery || document.write('<script src="../static/plan/js/jquery-1.11.0.min.js"><\/script>')
    </script>

    <script type="text/javascript" src="/static/plan/js/dragslot-PMC.js"></script>

    <script type="text/javascript" src="/static/bootstrap/js/xlsx.core.min.js"></script>

    <script type="text/javascript" src="/static/xlsx/js/xlsx.full.min.js"></script>

    <script type="text/javascript" src="/static/plan/js/PMC_DX.js"></script>
    
</body>

</html>