.float_left{
    float: left;
}

.bigBox{
    width: 20%;
    height: 95%;
}
.bgColor{
    background:#FFFFFF;
}
.border{
    border: 2px solid #000;
}
.padding-10{
    margin: 10px
}

.height100{
    height: 100%;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.Card_Style{
    font-size: 48px;
    background:#f6f6f6;
}
.cardBg{
    background:#fafafa;
    /* background:#FF0000; */
}
.content-wrapper{
    background-color:#ecf0f5;
}
.other_style{
    font-size: 23px;
    padding-left: 30px;
}
.eq_div{
    font-size: 60px;
    text-align: center;
}