<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>整理课排单</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='Scheduling/css/Scheduling.css')}} ">

    <link rel="stylesheet" href=" {{url_for('static',filename='Scheduling/css/dragslot.css')}} ">
</head>

<body id="body" class="border">
    <div class="htmleaf-container">
        <form action="" method="POST">
            <section class="">
                <div id="dragslot" class="">

                    <div class="top-div border">
                        <nav class="navbar navbar-default" style="margin-bottom:5px;">
                            <div class="container-fluid">
                                <div class="navbar-header" style="width: 100%;">
                                    <a class="navbar-brand" style="text-align: center; width: 100%;" href="#">整理课排单</a>
                                </div>
                            </div>
                        </nav>
                        {% for i in range(5) %}
                        <div class="float-left border" style="height:88%; width: 20%;">
                            <div class="container-fluid border">
                                <div class="navbar-header" style="width: 100%;">
                                    <a class="navbar-brand" style="text-align: center; width: 100%;"
                                        href="#">LB0{{i+1}}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="bottom-div border ">
                        <div id="dragslot2" class="">
                            <div class="border bottom-left float-left">
                                <nav class="navbar navbar-default" style="margin-bottom:5px;">
                                    <div class="container-fluid">
                                        <div class="navbar-header" style="width: 100%;">
                                            <a class="navbar-brand" style="text-align: center; width: 100%;"
                                                href="#">网布克重低于130g</a>
                                        </div>
                                    </div>
                                </nav>
                                <div class="btn-group" role="group" style="margin-top: -10px; margin-left: 4px;">
                                    {% for i in range(32) %}
                                    <button type="button" class="btn btn-default btn-width">
                                        A190300564-B2
                                    </button>
                                    {% endfor %}
                                </div>
                                <nav aria-label="Page navigation" style="text-align: center; width: 100%;">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="bottom-div border bottom-inner float-left">
                                <nav class="navbar navbar-default" style="margin-bottom:5px;">
                                    <div class="container-fluid">
                                        <div class="navbar-header" style="width: 100%;">
                                            <a class="navbar-brand" style="text-align: center; width: 100%;"
                                                href="#">平布黑白</a>
                                        </div>
                                    </div>
                                </nav>
                                <div class="btn-group" role="group" style="magrin-top: -10px; margin-left: 4px;">
                                    {% for i in range(32) %}
                                    <button type="button" class="btn btn-default btn-width">
                                        A190300564-B2
                                    </button>
                                    {% endfor %}
                                </div>
                                <nav aria-label="Page navigation" style="text-align: center; width: 100%;">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="bottom-div border bottom-right float-left">
                                <nav class="navbar navbar-default" style="margin-bottom:5px;">
                                    <div class="container-fluid">
                                        <div class="navbar-header" style="width: 100%;">
                                            <a class="navbar-brand" style="text-align: center; width: 100%;"
                                                href="#">平布其他</a>
                                        </div>
                                    </div>
                                </nav>
                                <div class="btn-group" role="group" style="magrin-top: -10px; margin-left: 4px;">
                                    {% for i in range(32) %}
                                    <button type="button" class="btn btn-default btn-width">
                                        A190300564-B2
                                    </button>
                                    {% endfor %}
                                </div>
                                <nav aria-label="Page navigation" style="text-align: center; width: 100%;">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </form>
    </div>
</body>
<script type="text/javascript" src="{{url_for('static',filename='KanBan/js/jQuery-2.2.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='Scheduling/js/dragslot.js')}}"></script>

<script>
    // ClassName
    var _$ = function (id) {
        return document.getElementsByClassName(id);
    }

    // ID
    var $$ = function (id) {
        return document.getElementById(id);
    }

    // Name
    var __$ = function (id) {
        return document.getElementsByName(id);
    }

    // 尺寸修改
    var getScreen = function () {
        var nWidth = document.body.clientWidth;
        var nHeight = document.documentElement.clientHeight;
        var content = $$('body');
        content.style.width = nWidth + 'px';
        content.style.height = nHeight - 5 + 'px';
    }

    // 页面初始
    window.onload = function () {
        getScreen();
        // fullScreen();
    }

    // 修改屏幕尺寸后进行div的更新
    window.onresize = function () {
        getScreen();
    }
</script>

<script>
    var GetFullNews = function (sCardNo) {
        console.log(sCardNo);
    }
</script>

<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

<script>
    window.jQuery || document.write('<script src="../static/js/jquery-1.11.0.min.js"><\/script>')
</script>

<script>
    jQuery(function ($) {
        $('#dragslot').dragslot({
            dropCallback: function (el) {
                //	alert(el);
            }

        });

    });
</script>



</html>